a img{
  width: 110px;
  height: 110px;
}
nav{
  margin-bottom: 10px;
}
nav span{
  font-family: 'Righteous', cursive;
  color: #7f2da6;
}
ul li a{
  /*font-family: 'Indie Flower', cursive;*/
  font-family: 'Righteous', cursive;
}

#na{
  background: linear-gradient(to right, #c6e0f5, #9561e2);
  /*background: linear-gradient(to right, #93DEF0, #E3A0F0);*/
}
td a{
  color: #7f2da6;
}
h4{
  color: #1b54a6;
  padding: 10px;
}
div span{
  margin-left: 10px;
}
#men{
  color: #771da6;
}
#mobile-nav{
  background-color: #c6e0f5;
}
#mobile-nav li>a{
  color: #8742a6;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
.page-footer{
  margin-top: 19%;
  background: linear-gradient(to right, #c6e0f5, #9561e2);
}
#hidden-pa{
  display: none;
}
a img{
  width: 110px;
  height: 110px;
}
nav{
  margin-bottom: 10px;
}
nav span{
  font-family: 'Righteous', cursive;
  color: #7f2da6;
}
ul li a{
  /*font-family: 'Indie Flower', cursive;*/
  font-family: 'Righteous', cursive;
}

#na{
  background: linear-gradient(to right, #c6e0f5, #9561e2);
  /*background: linear-gradient(to right, #93DEF0, #E3A0F0);*/
}
td a{
  color: #7f2da6;
}
h4{
  color: #1b54a6;
  padding: 10px;
}
div span{
  margin-left: 10px;
}
#men{
  color: #771da6;
}
#mobile-nav{
  background-color: #c6e0f5;
}
#mobile-nav li>a{
  color: #8742a6;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
.page-footer{
  margin-top: 19%;
  background: linear-gradient(to right, #c6e0f5, #9561e2);
}
input[type=submit] {
  background-color: #7f2da6;
  border: 0;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-size:16px;
  font-weight: bold;
  line-height: 1.4;
  padding: 10px;
  width: 180px
}
#excel{
  background-color: #12a66b;
  margin-top: 15px;
}

