a img{
  width: 80px;
  height: 80px;
}
nav{
  margin-bottom: 10px;
}
nav span{
  font-family: 'Righteous', cursive;
  color: #7f2da6;
}
ul li a{
  /*font-family: 'Indie Flower', cursive;*/
  font-family: 'Righteous', cursive;
}

#na{
  background: linear-gradient(to right, #c6e0f5, #9561e2);
  /*background: linear-gradient(to right, #93DEF0, #E3A0F0);*/
}
